#container
  = render partial: 'layouts/header'
  %nav.profile-crumbs-list
    .profile-crumbs-list-box
      %ul
        %li
          = link_to "メルカリ", products_path, class: "profile-crumbs-list-icon"
          %i.fas.fa-angle-right.fa-lg
        %li マイページ
  %section.l-content-fixed
    %article.profile-main
      .profile-main-nav
        %nav.profile-main-nav-list
          %ul
            %li.profile-main-nav-list-current.select
              = link_to profiles_path do
                %p マイページ
                %i.fas.fa-angle-right.fa-lg
            %li.select
              = link_to profiles_path do
                %p お知らせ
                %i.fas.fa-angle-right.fa-lg
            %li.select
              = link_to profiles_path do
                %p やることリスト
                %i.fas.fa-angle-right.fa-lg
            %li.select
              = link_to profiles_path do
                %p いいね！一覧
                %i.fas.fa-angle-right.fa-lg
            %li.select
              = link_to profiles_path do
                %p 出品する
                %i.fas.fa-angle-right.fa-lg
            %li.select
              = link_to profiles_path do
                %p 出品した商品-出品中
                %i.fas.fa-angle-right.fa-lg
            %li.select
              = link_to profiles_path do
                %p 出品した商品-取引中
                %i.fas.fa-angle-right.fa-lg
            %li.select
              = link_to profiles_path do
                %p 出品した商品-売却済み
                %i.fas.fa-angle-right.fa-lg
            %li.select
              = link_to profiles_path do
                %p 購入した商品-取引中
                %i.fas.fa-angle-right.fa-lg
            %li.select
              = link_to profiles_path do
                %p 購入した商品-過去の取引
                %i.fas.fa-angle-right.fa-lg
            %li.select
              = link_to profiles_path do
                %p ニュース一覧
                %i.fas.fa-angle-right.fa-lg
            %li.select
              = link_to profiles_path do
                %p 評価一覧
                %i.fas.fa-angle-right.fa-lg
            %li.select
              = link_to profiles_path do
                %p ガイド
                %i.fas.fa-angle-right.fa-lg
            %li.select
              = link_to profiles_path do
                %p お問い合わせ
                %i.fas.fa-angle-right.fa-lg
        %nav.profile-main-nav-list
          %h3 メルペイ
          %ul
            %li.select
              = link_to profiles_path do
                %p 売上・振込申請
                %i.fas.fa-angle-right.fa-lg
            %li.select
              = link_to profiles_path do
                %p ポイント
                %i.fas.fa-angle-right.fa-lg
        %nav.profile-main-nav-list
          %h3 設定
          %ul
            %li.select
              = link_to profile_index_path do
                %p プロフィール
                %i.fas.fa-angle-right.fa-lg
            %li.select
              = link_to profiles_path do
                %p 発送元・お届け先住所変更
                %i.fas.fa-angle-right.fa-lg
            %li.select
              = link_to profiles_path do
                %p 支払い方法
                %i.fas.fa-angle-right.fa-lg
            %li.select
              = link_to profiles_path do
                %p メール/パスワード
                %i.fas.fa-angle-right.fa-lg
            %li.select
              = link_to profiles_path do
                %p 本人情報
                %i.fas.fa-angle-right.fa-lg
            %li.select
              = link_to profiles_path do
                %p 電話番号の確認
                %i.fas.fa-angle-right.fa-lg
            %li.select
              = link_to profiles_path do
                %p ログアウト
                %i.fas.fa-angle-right.fa-lg


      %article.profile-main-details
        %section.profile-main-details-user
          = link_to profiles_path,class: "profile-main-details-user-content" do
            %figure
              = image_tag 'mercari_icon.png', size: '60x60'
            %h2 メルカリ
            .profile-main-details-user-content-details
              .profile-main-details-user-content-details-evaluation
                評価
                %span 2
              .profile-main-details-user-content-details-evaluation
                出品数
                %span 2
        .profile-main-details-content
          .profile-main-details-content-nav
            .profile-main-details-content-nav-left.tab__top.is-active__top
              %h3 お知らせ
            .profile-main-details-content-nav-right.tab__top
              %h3 やることリスト
          .profile-main-details-content-left.content__top.is-show__top
            %ul
              %li.select
                = link_to profiles_path do
                  = image_tag 'mercari_icon.png', size: '48x48'
                  %i.fas.fa-angle-right.fa-2x
                  .profile-main-details-content-nav-left-title
                    %p お知らせ
                    %i.far.fa-clock.fa-lg
                    %span 2時間前
              %li.select
                = link_to profiles_path do
                  = image_tag 'mercari_icon.png', size: '48x48'
                  %i.fas.fa-angle-right.fa-2x
                  .profile-main-details-content-nav-left-title
                    %p お知らせ
                    %i.far.fa-clock.fa-lg
                    %span 2時間前
              %li.select
                = link_to profiles_path do
                  = image_tag 'mercari_icon.png', size: '48x48'
                  %i.fas.fa-angle-right.fa-2x
                  .profile-main-details-content-nav-left-title
                    %p お知らせ
                    %i.far.fa-clock.fa-lg
                    %span 2時間前
              %li.select
                = link_to profiles_path do
                  = image_tag 'mercari_icon.png', size: '48x48'
                  %i.fas.fa-angle-right.fa-2x
                  .profile-main-details-content-nav-left-title
                    %p お知らせ
                    %i.far.fa-clock.fa-lg
                    %span 2時間前
              %li.select
                = link_to profiles_path do
                  = image_tag 'mercari_icon.png', size: '48x48'
                  %i.fas.fa-angle-right.fa-2x
                  .profile-main-details-content-nav-left-title
                    %p お知らせ
                    %i.far.fa-clock.fa-lg
                    %span 2時間前
              %li
                = link_to profiles_path do
                  .profile-main-details-content-nav-left-button
                    一覧を見る
          .profile-main-details-content-todo.content__top
            %ul.not-found
              %li 現在、やることリストはありません
        %h2.profile-main-details-bottom-content 購入した商品
        .profile-main-details-content-nav
          .profile-main-details-content-nav-left.tab__bottom.is-active__bottom
            %h3 取引中
          .profile-main-details-content-nav-right.tab__bottom
            %h3 過去の取引
        .profile-main-details-bottom-left.content__bottom.is-show__bottom
          %ul.not-found
            %li 取引中の商品がありません
        .profile-main-details-bottom-right.content__bottom
          %ul.not-found
            %li 過去に取引した商品がありません

= render partial: 'layouts/banner'

= render partial: 'layouts/footer'
