#container
  %section.l-content-expanded
    %article.signup-top
      = render partial: 'layouts/header-log'
      %main.signup-top-main
        %h2 新規会員登録
        %ul.signup-top-main-list
          = link_to new_user_registration_path do
            %li.signup-top-main-list-email.signup-top-main-list-content
              %i.far.fa-envelope.fa-lg
              %span
                メールアドレスで登録
          = link_to "/users/auth/facebook" do
            %li.signup-top-main-list-facebook.signup-top-main-list-content
              %i.fab.fa-facebook-square.fa-lg
              %span
                Facebookで登録
          = link_to "/users/auth/google_oauth2" do
            %li.signup-top-main-list-google.signup-top-main-list-content
              %i.fab.fa-google.fa-lg
              %span
                Googleで登録
    = render partial: 'layouts/signup-footer'





