#container
  %section.l-content-expanded.l-content-expanded__sells
    %article.sell
      = render partial: 'layouts/header-log'
      %article.sell-main
        %h2.sell-main-title 商品の情報を入力
        = form_with url: product_path(@product.id), method: :patch, local: true do |f|
          %section.sell-main-content
            .sell-title
              %h3.sell-label 出品画像
              %span.sell-required 必須
            %p 最大10枚までアップロードできます
            .sell-main-content-image#image
              %p
                ドラッグアンドドロップ
                %br
                またはクリックしてファイルをアップロード
            = f.fields_for :image do |fin|
              = fin.file_field :image, class: "sell-main-content-file", id: "file"
          %section.sell-main-content
            .sell-title
              %h3.sell-label 商品名
              %span.sell-required 必須
            %br
            = f.text_field :name, class: "sell-main-content-name"
            .sell-title
              %h3.sell-label 商品の説明
              %span.sell-required 必須
            %br
            = f.text_area :description, class: "sell-main-content-text"
          %section.sell-main-content.sell-main-split.two-form
            %h3 商品の詳細
            .sell-main-split-right
              .sell-title
                %h3.sell-label カテゴリー
                %span.sell-required 必須
              %br
              = f.select :category, [["--", "--"], ["レディース", "レディース"], ["メンズ", "メンズ"], ["ベビー・キッズ", "ベビー・キッズ"], ["インテリア・住まい・小物", "インテリア・住まい・小物"], ["本・音楽・ゲーム", "本・音楽・ゲーム"], ["おもちゃ・ホビー・グッズ", "おもちゃ・ホビー・グッズ"], ["コスメ・香水・美容", "コスメ・香水・美容"], ["家電・スマホ・カメラ", "家電・スマホ・カメラ"], ["スポーツ・レジャー", "スポーツ・レジャー"], ["ハンドメイド", "ハンドメイド"], ["チケット", "チケット"], ["自動車・オートバイ", "自動車・オートバイ"], ["その他", "その他"]],class: "sell-main-split-right-text"
              %br
              .sell-title
                %h3.sell-label 商品の状態
                %span.sell-required 必須
              %br
              = f.select :state, [["--", "--"], ["新品、未使用", "新品、未使用"], ["未使用に近い", "未使用に近い"], ["目立った傷や汚れなし", "目立った傷や汚れなし"], ["やや傷や汚れあり", "やや傷や汚れあり"], ["傷や汚れあり", "傷や汚れあり"], ["全体的に状態が悪い", "全体的に状態が悪い"]],class: "sell-main-split-right-text"
          %section.sell-main-content.sell-main-split.three-form
            %h3 配送について
            .sell-main-split-right
              .sell-title
                %h3.sell-label 配送料の負担
                %span.sell-required 必須
              %br
              = f.select :shipping_charges, [["--", "--"], ["送料込み(出品者負担)", "送料込み(出品者負担)"], ["着払い(購入者負担)", "着払い(購入者負担)"]],class: "sell-main-split-right-text"
              %br
              .sell-title
                %h3.sell-label 配送元の地域
                %span.sell-required 必須
              %br
              = f.select :shipping_origin_area, [["--", "--"], ["北海道", "北海道"], ["青森県", "青森県"], ["岩手県", "岩手県"], ["宮城県", "宮城県"], ["秋田県", "秋田県"], ["山形県", "山形県"], ["福島県", "福島県"], ["茨城県", "茨城県"], ["栃木県", "栃木県"], ["群馬県", "群馬県"], ["埼玉県", "埼玉県"], ["千葉県", "千葉県"], ["東京都", "東京都"], ["神奈川県", "神奈川県"], ["新潟県", "新潟県"], ["富山県", "富山県"], ["石川県", "石川県"], ["福井県", "福井県"], ["山梨県", "山梨県"], ["長野県", "長野県"], ["岐阜県", "岐阜県"], ["静岡県", "静岡県"], ["愛知県", "愛知県"], ["三重県", "三重県"], ["滋賀県", "滋賀県"], ["京都府", "京都府"], ["大阪府", "大阪府"], ["兵庫県", "兵庫県"], ["奈良県", "奈良県"], ["和歌山県", "和歌山県"], ["鳥取県", "鳥取県"], ["島根県", "島根県"], ["岡山県", "岡山県"], ["広島県", "広島県"], ["山口県", "山口県"], ["徳島県", "徳島県"], ["香川県", "香川県"], ["愛媛県", "愛媛県"], ["高知県", "高知県"], ["福岡県", "福岡県"], ["佐賀県", "佐賀県"], ["長崎県", "長崎県"], ["熊本県", "熊本県"], ["大分県", "大分県"], ["宮崎県", "宮崎県"], ["鹿児島県", "鹿児島県"], ["沖縄県", "沖縄県"]],class: "sell-main-split-right-text"
              %br
              .sell-title
                %h3.sell-label 発送までの日数
                %span.sell-required 必須
              %br
              = f.select :estimated_shipping, [["--", "--"], ["1~2日で発送", "1~2日で発送"], ["2~3日で発送", "2~3日で発送"], ["4~7日で発送", "4~7日で発送"]],class: "sell-main-split-right-text"
          %section.sell-main-content.sell-main-split.bottom-form
            %h3 販売価格(300~9,999,999)
            .sell-main-split-right
              .sell-main-split-right-box
                .sell-title
                  %h3.sell-label 価格
                  %span.sell-required 必須
                %span.sell-main-split-right-box-span &yen;
                = f.text_field :price, class: "sell-main-split-right-box-input"
              .sell-main-split-right-box
                %p 販売手数料(10%)
                %span
              .sell-main-split-right-box
                %h3 販売純利益
                %span
          %section.sell-main-content
            %p.sell-main-content-note
              = link_to "禁止されている出品", root_path
              、
              = link_to "行為", root_path
              を必ずご確認ください。
              %br
              またブランド品でシリアルナンバー等がある場合はご記載ください。
              = link_to "偽ブランドの販売", root_path
              は犯罪であり処罰される可能性があります。
              %br
              また、出品をもちまして
              = link_to "加盟店規約",root_path
              に同意したことになります。
              = f.submit '編集する', class: "sell-main-content-submit"
            = link_to root_path do
              .sell-main-content-back もどる
      = render partial: 'layouts/signup-footer'
