#container
  = render partial: 'layouts/header'
  %section.l-content-expanded
    %div
      .hero-image
  %section.l-content-fixed
    %header.section-header
      %h1.section-header-picup ピックアップカテゴリー
    %section.picup-item.picup-item__firts
      =link_to products_path,class:"picup-item-header" do
        レディース新着アイテム
      .l-multicolumn
        %section.l-column
          =link_to products_path do
            %header
              = image_tag 'default.jpg', size: '213x220'
            %div
              %p サンプル。adidas! 早い者勝ち
              .details
                %span ¥3,500
                %i.far.fa-heart
                %span.like 1
        %section.l-column
          =link_to products_path do
            %header
              = image_tag 'default.jpg', size: '213x220'
            %div
              %p サンプル。adidas! 早い者勝ち
              .details
                %span ¥3,500
                %i.far.fa-heart
                %span.like 1
        %section.l-column
          =link_to products_path do
            %header
              = image_tag 'default.jpg', size: '213x220'
            %div
              %p サンプル。adidas! 早い者勝ち
              .details
                %span ¥3,500
                %i.far.fa-heart
                %span.like 1
        %section.l-column
          =link_to products_path do
            %header
              = image_tag 'default.jpg', size: '213x220'
            %div
              %p サンプル。adidas! 早い者勝ち
              .details
                %span ¥3,500
                %i.far.fa-heart
                %span.like 1
      %span
        =link_to products_path,class:"all-product" do
          すべての商品を見る
    %section.picup-item.picup-item
      =link_to products_path,class:"picup-item-header" do
        メンズ新着アイテム
      .l-multicolumn
        %section.l-column
          =link_to products_path do
            %header
              = image_tag 'default.jpg', size: '213x220'
            %div
              %p サンプル。adidas! 早い者勝ち
              .details
                %span ¥3,500
                %i.far.fa-heart
                %span.like 1
        %section.l-column
          =link_to products_path do
            %header
              = image_tag 'default.jpg', size: '213x220'
            %div
              %p サンプル。adidas! 早い者勝ち
              .details
                %span ¥3,500
                %i.far.fa-heart
                %span.like 1
        %section.l-column
          =link_to products_path do
            %header
              = image_tag 'default.jpg', size: '213x220'
            %div
              %p サンプル。adidas! 早い者勝ち
              .details
                %span ¥3,500
                %i.far.fa-heart
                %span.like 1
        %section.l-column
          =link_to products_path do
            %header
              = image_tag 'default.jpg', size: '213x220'
            %div
              %p サンプル。adidas! 早い者勝ち
              .details
                %span ¥3,500
                %i.far.fa-heart
                %span.like 1
      =link_to products_path,class:"all-product" do
        すべての商品を見る
    %section.picup-item.picup-item
      =link_to products_path,class:"picup-item-header" do
        ベビー・キッズ新着アイテム
      .l-multicolumn
        %section.l-column
          =link_to products_path do
            %header
              = image_tag 'default.jpg', size: '213x220'
            %div
              %p サンプル。adidas! 早い者勝ち
              .details
                %span ¥3,500
                %i.far.fa-heart
                %span.like 1
        %section.l-column
          =link_to products_path do
            %header
              = image_tag 'default.jpg', size: '213x220'
            %div
              %p サンプル。adidas! 早い者勝ち
              .details
                %span ¥3,500
                %i.far.fa-heart
                %span.like 1
        %section.l-column
          =link_to products_path do
            %header
              = image_tag 'default.jpg', size: '213x220'
            %div
              %p サンプル。adidas! 早い者勝ち
              .details
                %span ¥3,500
                %i.far.fa-heart
                %span.like 1
        %section.l-column
          =link_to products_path do
            %header
              = image_tag 'default.jpg', size: '213x220'
            %div
              %p サンプル。adidas! 早い者勝ち
              .details
                %span ¥3,500
                %i.far.fa-heart
                %span.like 1
      =link_to products_path,class:"all-product" do
        すべての商品を見る
    %section.picup-item.picup-item
      =link_to products_path,class:"picup-item-header" do
        コスメ・香水・美容新着アイテム
      .l-multicolumn
        %section.l-column
          =link_to products_path do
            %header
              = image_tag 'default.jpg', size: '213x220'
            %div
              %p サンプル。adidas! 早い者勝ち
              .details
                %span ¥3,500
                %i.far.fa-heart
                %span.like 1
        %section.l-column
          =link_to products_path do
            %header
              = image_tag 'default.jpg', size: '213x220'
            %div
              %p サンプル。adidas! 早い者勝ち
              .details
                %span ¥3,500
                %i.far.fa-heart
                %span.like 1
        %section.l-column
          =link_to products_path do
            %header
              = image_tag 'default.jpg', size: '213x220'
            %div
              %p サンプル。adidas! 早い者勝ち
              .details
                %span ¥3,500
                %i.far.fa-heart
                %span.like 1
        %section.l-column
          =link_to products_path do
            %header
              = image_tag 'default.jpg', size: '213x220'
            %div
              %p サンプル。adidas! 早い者勝ち
              .details
                %span ¥3,500
                %i.far.fa-heart
                %span.like 1
      =link_to products_path,class:"all-product" do
        すべての商品を見る
    %section.picup-item.picup-item
      =link_to products_path,class:"picup-item-header" do
        シャネル新着アイテム
      .l-multicolumn
        %section.l-column
          =link_to products_path do
            %header
              = image_tag 'default.jpg', size: '213x220'
            %div
              %p サンプル。adidas! 早い者勝ち
              .details
                %span ¥3,500
                %i.far.fa-heart
                %span.like 1
        %section.l-column
          =link_to products_path do
            %header
              = image_tag 'default.jpg', size: '213x220'
            %div
              %p サンプル。adidas! 早い者勝ち
              .details
                %span ¥3,500
                %i.far.fa-heart
                %span.like 1
        %section.l-column
          =link_to products_path do
            %header
              = image_tag 'default.jpg', size: '213x220'
            %div
              %p サンプル。adidas! 早い者勝ち
              .details
                %span ¥3,500
                %i.far.fa-heart
                %span.like 1
        %section.l-column
          =link_to products_path do
            %header
              = image_tag 'default.jpg', size: '213x220'
            %div
              %p サンプル。adidas! 早い者勝ち
              .details
                %span ¥3,500
                %i.far.fa-heart
                %span.like 1
      =link_to products_path,class:"all-product" do
        すべての商品を見る
    %section.picup-item.picup-item
      =link_to products_path,class:"picup-item-header" do
        ルイヴィトン新着アイテム
      .l-multicolumn
        %section.l-column
          =link_to products_path do
            %header
              = image_tag 'default.jpg', size: '213x220'
            %div
              %p サンプル。adidas! 早い者勝ち
              .details
                %span ¥3,500
                %i.far.fa-heart
                %span.like 1
        %section.l-column
          =link_to products_path do
            %header
              = image_tag 'default.jpg', size: '213x220'
            %div
              %p サンプル。adidas! 早い者勝ち
              .details
                %span ¥3,500
                %i.far.fa-heart
                %span.like 1
        %section.l-column
          =link_to products_path do
            %header
              = image_tag 'default.jpg', size: '213x220'
            %div
              %p サンプル。adidas! 早い者勝ち
              .details
                %span ¥3,500
                %i.far.fa-heart
                %span.like 1
        %section.l-column
          =link_to products_path do
            %header
              = image_tag 'default.jpg', size: '213x220'
            %div
              %p サンプル。adidas! 早い者勝ち
              .details
                %span ¥3,500
                %i.far.fa-heart
                %span.like 1
      =link_to products_path,class:"all-product" do
        すべての商品を見る
    %section.picup-item.picup-item
      =link_to products_path,class:"picup-item-header" do
        シェプリーム新着アイテム
      .l-multicolumn
        %section.l-column
          =link_to products_path do
            %header
              = image_tag 'default.jpg', size: '213x220'
            %div
              %p サンプル。adidas! 早い者勝ち
              .details
                %span ¥3,500
                %i.far.fa-heart
                %span.like 1
        %section.l-column
          =link_to products_path do
            %header
              = image_tag 'default.jpg', size: '213x220'
            %div
              %p サンプル。adidas! 早い者勝ち
              .details
                %span ¥3,500
                %i.far.fa-heart
                %span.like 1
        %section.l-column
          =link_to products_path do
            %header
              = image_tag 'default.jpg', size: '213x220'
            %div
              %p サンプル。adidas! 早い者勝ち
              .details
                %span ¥3,500
                %i.far.fa-heart
                %span.like 1
        %section.l-column
          =link_to products_path do
            %header
              = image_tag 'default.jpg', size: '213x220'
            %div
              %p サンプル。adidas! 早い者勝ち
              .details
                %span ¥3,500
                %i.far.fa-heart
                %span.like 1
      =link_to products_path,class:"all-product" do
        すべての商品を見る
    %section.picup-item.picup-item__last
      =link_to products_path,class:"picup-item-header" do
        ナイキ新着アイテム
      .l-multicolumn
        %section.l-column
          =link_to products_path do
            %header
              = image_tag 'default.jpg', size: '213x220'
            %div
              %p サンプル。adidas! 早い者勝ち
              .details
                %span ¥3,500
                %i.far.fa-heart
                %span.like 1
        %section.l-column
          =link_to products_path do
            %header
              = image_tag 'default.jpg', size: '213x220'
            %div
              %p サンプル。adidas! 早い者勝ち
              .details
                %span ¥3,500
                %i.far.fa-heart
                %span.like 1
        %section.l-column
          =link_to products_path do
            %header
              = image_tag 'default.jpg', size: '213x220'
            %div
              %p サンプル。adidas! 早い者勝ち
              .details
                %span ¥3,500
                %i.far.fa-heart
                %span.like 1
        %section.l-column
          =link_to products_path do
            %header
              = image_tag 'default.jpg', size: '213x220'
            %div
              %p サンプル。adidas! 早い者勝ち
              .details
                %span ¥3,500
                %i.far.fa-heart
                %span.like 1
      =link_to products_path,class:"all-product" do
        すべての商品を見る

= render partial: 'layouts/banner'
= render partial: 'layouts/footer'
