#container
  = render partial: 'layouts/header'
  %section.l-content-expanded
    %div
      .hero-image
  %section.l-content-fixed
    %header.section-header
      %h1.section-header-picup ピックアップカテゴリー
    %section.picup-item.picup-item__firts
      =link_to products_path,class:"picup-item-header" do
        レディース新着アイテム
      .l-multicolumn
        - @womens.each do |product|
          = render partial: "new-item", locals: { product: product }
      %span
        =link_to products_path,class:"all-product" do
          すべての商品を見る
    %section.picup-item.picup-item
      =link_to products_path,class:"picup-item-header" do
        メンズ新着アイテム
      .l-multicolumn
        - @mens.each do |product|
          = render partial: "new-item", locals: { product: product }
      =link_to products_path,class:"all-product" do
        すべての商品を見る
    %section.picup-item.picup-item
      =link_to products_path,class:"picup-item-header" do
        ベビー・キッズ新着アイテム
      .l-multicolumn
        - @kids.each do |product|
          = render partial: "new-item", locals: { product: product }
      =link_to products_path,class:"all-product" do
        すべての商品を見る
    %section.picup-item.picup-item
      =link_to products_path,class:"picup-item-header" do
        コスメ・香水・美容新着アイテム
      .l-multicolumn
        - @cosmetics.each do |product|
          = render partial: "new-item", locals: { product: product }
      =link_to products_path,class:"all-product" do
        すべての商品を見る
    %section.picup-item.picup-item
      =link_to products_path,class:"picup-item-header" do
        シャネル新着アイテム
      .l-multicolumn
        - @chanel.each do |product|
          = render partial: "new-item", locals: { product: product }
      =link_to products_path,class:"all-product" do
        すべての商品を見る
    %section.picup-item.picup-item
      =link_to products_path,class:"picup-item-header" do
        ルイヴィトン新着アイテム
      .l-multicolumn
        - @vuitton.each do |product|
          = render partial: "new-item", locals: { product: product }
      =link_to products_path,class:"all-product" do
        すべての商品を見る
    %section.picup-item.picup-item
      =link_to products_path,class:"picup-item-header" do
        シェプリーム新着アイテム
      .l-multicolumn
        - @supreme.each do |product|
          = render partial: "new-item", locals: { product: product }
      =link_to products_path,class:"all-product" do
        すべての商品を見る
    %section.picup-item.picup-item__last
      =link_to products_path,class:"picup-item-header" do
        ナイキ新着アイテム
      .l-multicolumn
        - @nike.each do |product|
          = render partial: "new-item", locals: { product: product }
      =link_to products_path,class:"all-product" do
        すべての商品を見る

= render partial: 'layouts/banner'
= render partial: 'layouts/footer'
