#container
  = render partial: 'layouts/header'
  %nav.profile-crumbs-list
    .profile-crumbs-list-box
      %ul
        %li
          = link_to "メルカリ", products_path, class: "profile-crumbs-list-icon"
          %i.fas.fa-angle-right.fa-lg
        %li
          = @product.name
  %section.l-content-fixed
    %article.products-show
      %h1.products-show-header
        = @product.name
      %section.products-show-details
        .products-show-details-left#wrap
          %ul#slider
            %li.slider-item
              = image_tag "slider1.jpg"
            %li.slider-item
              = image_tag "slider2.jpg"
            %li.slider-item
              = image_tag "slider3.jpg"
            %li.slider-item
              = image_tag "slider4.jpg"
          %ul#thumbnail-list
            %li.thumbnail-item
              = image_tag "slider1.jpg"
            %li.thumbnail-item
              = image_tag "slider2.jpg"
            %li.thumbnail-item
              = image_tag "slider3.jpg"
            %li.thumbnail-item
              = image_tag "slider4.jpg"
        %table.products-show-details-right
          %tbody
            %tr
              %th 出品者
              %td
                = link_to "#{@product.user.nickname}", products_path
                %ul.evaluation
                  %li
                    %i.fas.fa-grin-beam.fa-lg
                    %span 10
                  %li
                    %i.fas.fa-meh.fa-lg
                    %span 10
                  %li
                    %i.fas.fa-sad-tear.fa-lg
                    %span 10
            %tr
              %th カテゴリー
              %td
                %ul
                  %li
                    = link_to "#{@product.category}", products_path
                  %li
                    = link_to "#{@product.category}", products_path
                  %li
                    = link_to "#{@product.category}", products_path
            %tr
              %th ブランド
              %td
                = link_to "#{@product.brand}", products_path
            %tr
              %th 商品の状態
              %td
                = @product.state
            %tr
              %th 配送料の負担
              %td
                = @product.shipping_charges
            %tr
              %th 配送の方法
              %td
                = @product.shipping_method
            %tr
              %th 配送元地域
              %td
                = link_to "#{@product.shipping_origin_area}", products_path
            %tr
              %th 配送の目安
              %td
                = @product.estimated_shipping
      .products-show-details-price
        %p
          %span
            = "¥#{@product.price}"
          %span (税込)
          %span 送料込み
      = link_to products_path do
        .products-show-details-state
          購入画面に進む
      .products-show-details-description
        %pre
          = @product.description
    %article.products-comment
      - @evaluation.each do |evaluation|
        = render partial: "show-comment", locals: { evaluation: evaluation }
      .products-comment-note
        相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      = form_with url: product_evaluations_path(@product.id), local: true do |f|
        = f.text_area :comment, class: "products-comment-textarea"
        = f.submit 'コメントする', class: "products-comment-submit"
    .products-show-link
      = link_to "＜テスト", products_path, class: "profile-crumbs-li"
      = link_to "テスト＞", products_path, class: "profile-crumbs-list-icon"
    .products-show-media
      .products-show-media-box
        %i.fab.fa-facebook-square.fa-5x
        %i.fab.fa-twitter-square.fa-5x
        %i.fab.fa-google.fa-5x
    = link_to products_path do
      %h2.products-show-link-title
        = "#{@product.user.nickname}さんのその他の出品"
    .products-show-column
      - @user.each do |product|
        = render partial: "show-column", locals: { product: product }
    = link_to products_path ,class: 'products-show-link-title'do
      %h2.products-show-link-title
        = "#{@product.brand} その他の出品"
    .products-show-column
      / - @brand.each do |product|
      /   = render partial: "show-column", locals: { product: product }

    = render partial: 'layouts/banner'
    = render partial: 'layouts/footer'
