#container
  %section.l-content-expanded.l-content-expanded__sells
    %article.sell
      = render partial: 'layouts/header-log'
      %article.sell-main
        %h2.sell-main-title 商品の情報を入力
        %section.sell-main-content
          .sell-title
            %h3.sell-label 出品画像
            %span.sell-required 必須
          %p 最大10枚までアップロードできます
          .sell-main-content-image#image
            %p
              ドラッグアンドドロップ
              %br
              またはクリックしてファイルをアップロード
            = form_with model: @user, url: new_user_session_path, local: true do |f|
              = f.file_field :image, class: "sell-main-content-file", id: "file"
        %section.sell-main-content
          = form_with model: @user, url: new_user_session_path, local: true do |f|
            .sell-title
              %h3.sell-label 商品名
              %span.sell-required 必須
            %br
            = f.text_field :name, class: "sell-main-content-name"
            .sell-title
              %h3.sell-label 商品の説明
              %span.sell-required 必須
            %br
            = f.text_area :text, class: "sell-main-content-text"
        %section.sell-main-content.sell-main-split.two-form
          = form_with model: @user, url: new_user_session_path, local: true do |f|
            %h3 商品の詳細
            .sell-main-split-right
              .sell-title
                %h3.sell-label カテゴリー
                %span.sell-required 必須
              %br
              = f.select :text, [["--", "--"], ["メンズ", "メンズ"], ["東京", "東京"], ["福岡", "大分"]],class: "sell-main-split-right-text"
              %br
              .sell-title
                %h3.sell-label 商品の状態
                %span.sell-required 必須
              %br
              = f.select :text, [["--", "--"], ["未使用に近い", "未使用に近い"], ["目立った傷や汚れなし", "目立った傷や汚れなし"], ["中古", "中古"]],class: "sell-main-split-right-text"
        %section.sell-main-content.sell-main-split.three-form
          = form_with model: @user, url: new_user_session_path, local: true do |f|
            %h3 配送について
            .sell-main-split-right
              .sell-title
                %h3.sell-label 配送料の負担
                %span.sell-required 必須
              %br
              = f.select :text, [["--", "--"], ["メンズ", "メンズ"], ["東京", "東京"], ["福岡", "大分"]],class: "sell-main-split-right-text"
              %br
              .sell-title
                %h3.sell-label 配送元の地域
                %span.sell-required 必須
              %br
              = f.select :text, [["--", "--"], ["未使用に近い", "未使用に近い"], ["目立った傷や汚れなし", "目立った傷や汚れなし"], ["中古", "中古"]],class: "sell-main-split-right-text"
              %br
              .sell-title
                %h3.sell-label 発送までの日数
                %span.sell-required 必須
              %br
              = f.select :text, [["--", "--"], ["未使用に近い", "未使用に近い"], ["目立った傷や汚れなし", "目立った傷や汚れなし"], ["中古", "中古"]],class: "sell-main-split-right-text"
        %section.sell-main-content.sell-main-split.bottom-form
          = form_with model: @user, url: new_user_session_path, local: true do |f|
            %h3 販売価格(300~9,999,999)
            .sell-main-split-right
              .sell-main-split-right-box
                .sell-title
                  %h3.sell-label 価格
                  %span.sell-required 必須
                %span.sell-main-split-right-box-span &yen;
                = f.text_field :name, class: "sell-main-split-right-box-input"
              .sell-main-split-right-box
                %p 販売手数料(10%)
                %span
              .sell-main-split-right-box
                %h3 販売純利益
                %span
        %section.sell-main-content
          %p.sell-main-content-note
            = link_to "禁止されている出品", "/users/auth/google_oauth2"
            、
            = link_to "行為", "/users/auth/google_oauth2"
            を必ずご確認ください。
            %br
            またブランド品でシリアルナンバー等がある場合はご記載ください。
            = link_to "偽ブランドの販売", "/users/auth/google_oauth2"
            は犯罪であり処罰される可能性があります。
            %br
            また、出品をもちまして
            = link_to "加盟店規約", "/users/auth/google_oauth2"
            に同意したことになります。
          = form_with model: @user, url: new_user_session_path, local: true do |f|
            = f.submit '出品する', class: "sell-main-content-submit"
          = link_to "/users/auth/google_oauth2" do
            .sell-main-content-back もどる
      = render partial: 'layouts/signup-footer'
